.container {
  width: 700px;
  height: 300px;
  margin: 2rem;
  margin-top: 7rem;
}

.editor hr {
  page-break-after: always;
}

.editor {
  position: relative;
}

.dynamic_field-span {
  background-color: rgb(200, 200, 200);
  width: 45px;
  height: 45px;
  color: white;
  display: inline-block;
  max-width: fit-content;
  min-width: 25px;
  height: 20px;
  margin: 0 0.4rem;
  padding: 2px 4px;
  border: 2px dashed;
}

.dynamic-input_handler {
  display: inline;
  padding: 2px;
  background-color: #666666;
  color: white;
  width: fit-content;
  height: 15px;
}
