.container {
  width: 700px;
  height: 300px;
  margin: 2rem;
  margin-top: 7rem;
}

.editor hr {
  page-break-after: always;
}

.editor {
  position: relative;
}

.dynamic_field-span {
<<<<<<< HEAD
  background-color: rgb(200, 200, 200);
  min-width: 10px;
  min-height: 10px;
  color: white;
  display: inline-block;
  max-width: fit-content;
  min-width: 50px;
  height: 20px;
  margin: 0 0.4rem;
  padding: 2px 4px;
  border: 2px dashed;
}

.dynamic-input_handler {
  display: inline;
  padding: 2px;
  background-color: #666666;
  color: white;
  width: fit-content;
  height: 15px;
=======
  background-color: gray;
  min-width: 10px;
  min-height: 10px;
  color: white;
  display: block;
  max-width: fit-content;
}

.dynamic-input_handler {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0 3rem;
  border-radius: 7px;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  width: fit-content;
  height: 100px;
>>>>>>> c4690b233fb4d855926d186cf6516105b14b7fd1
}
