.container {
  width: 700px;
  height: 500px;
  margin: 2rem;
  margin-top: 7rem;
}

.editor hr {
  page-break-after: always;
}

.editor {
  position: relative;
}

.dynamic_field-input {
  background-color: rgb(200, 200, 200);
  width: 45px;
  height: 45px;
  color: white;
  display: inline;
  max-width: fit-content;
  min-width: 25px;
  height: 20px;
  margin: 0 0.4rem;
  padding: 2px 4px;
  border: 2px dashed;
}

.header,
.footer {
  width: 100%;
  height: fit-content;
  background-color: #eee;
}

.preview table {
  border: 1px solid gray;
}
.preview td {
  border: 1px solid gray !important;
}

.preview hr {
  page-break-after: always;
  width: fit-content;
  position: relative;
  display: block;
  border: none;
  text-align: left;
}

.page-number_container {
  width: fit-content;
  position: relative;
  display: block;
  border: none;
  text-align: left;
}

.page-number_span {
  /* position: absolute; */
  display: block;
  font-size: 12px;
}

.border-modal {
  width: 320px;
  height: 100px;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
  background-color: #f1f1f1;
}

.fr-wrapper {
  padding: 7px;
  position: relative !important;
  overflow: hidden !important;
}

.fr-element {
  position: relative !important;
  overflow: hidden !important;
}
.verticalText {
  position: absolute;
  margin: 0;
  padding: 3px;
  border: 2px dashed #f1f1f1;
  background-color: #eee;
  transform: rotate(90deg);
  min-width: 25px;
  min-height: 25px;
  z-index: 10;
}

@media print {
  .header,
  .footer {
    background-color: transparent;
  }

  @page {
    border: 3px solid red;
  }
  .preview hr {
    page-break-after: always;
  }
  .page-number_span {
    /* position: absolute; */
    display: block;
    font-size: 12px;
  }
}
